body {
    background-color: #262626;
}
h1 {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    color: #0066ff;
}
a:link {
    text-decoration: none;
    color: #0066ff;
    vertical-align: super;
    margin: 15px; 
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
}
a:visited {
    color: #0066ff;
}
a:active {
    color: #0066ff;
}
.navbar {
    background-color: #262626;
    border: solid 5px #0066ff;
    padding: 15px;
    position: sticky; top: 0px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    color: #0066ff;
    background-color: #404040;
  }
  textarea {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    color: #0066ff;
    background-color: #404040;
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    background-color: #0066ff;
    color: #262626;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #3385ff;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #262626;
    color: #0066ff;
    padding: 20px;
  }
  ::placeholder {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    color: #3385ff;
  }
