* {
  margin: 0;
}
body {
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(25,0,94,1) 18%, rgba(20,45,128,1) 51%, rgba(0,212,255,1) 100%);
}
h1 {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    padding: 5px;
}
p {
  font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    padding: 5px;
}
a:link {
    text-decoration: none;
    color: #0066ff;
    vertical-align: super;
    margin: 15px; 
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
}
a:visited {
    color: #0066ff;
}
a:active {
    color: #0066ff;
}
.navbar {
    background-color: #262626;
    border: solid 5px #0066ff;
    padding: 15px;
    position: sticky; top: 0px;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    color: #0066ff;
    background-color: #404040;
  }
  textarea {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    color: #0066ff;
    background-color: #404040;
  }
  input[type=submit] {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    background-color: #0066ff;
    color: #262626;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #3385ff;
  }  
  .container {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #262626;
    color: #0066ff;
    padding: 20px;
  }
  ::placeholder {
    font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
    color: #3385ff;
    }
.cof {
  height: 300px;
}
footer {
  font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
  background-color: #262626;
  border: solid 5px #0066ff;
  padding: 15px;
}
.mid {
  text-align: center;
 }
.contact {
  color: #0066ff; 
  font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
  float: left;
  margin: 5px;
 }
.social {
  color: #0066ff; 
  font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
  float: right;
  margin: 5px;
}
  .clearfix {
  clear: both;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.inline {
  display: inline;
}
hr {
  height: 1px;
  background-color: #0066ff;
  border: none;
}
.office {
  color: #0066ff;
  font-family: 'Fuzzy Bubbles', cursive, Arial, Helvetica, sans-serif;
  float: left;
  margin-top: 3px;
  margin-left: 10%;
}
.mocl {
  float: left;
  padding-top: 25px;
  padding-left: 26px;
  border: none;
}
.mocr {
  float: right;
  padding-top: 25px;
  padding-right: 26px;
  border: none;
}
section {
  padding: 5px;
}
.br1 {
  float: left;
  padding-left: 125px;
  padding-bottom: 15px;
}
.br2 {
  float: right;
  padding-right: 125px;
  padding-bottom: 15px;
}